ul
{
	list-style-type: none;
	width: 20%;
	padding: 0;
	margin: 0;
}
li a
{
	display: block;
	background-color: skyblue;
	padding: 10px;
	text-decoration: none;
	font-family: arial,verdana,sans-serif;
}
li a:hover
{
	background-color: yellow;
	color: black;
}
li a.activo
{
	background-color: darkblue;
	color: white;
}