*
{
	margin: auto;
	border-collapse: collapse;
	font-family: verdana;
	text-align: center;
}
body
{
	background: lightgrey;
}
h1
{
	border-radius: 20px;
 	background: darkred;
 	color: white;
}
.contenido
{
	color: white;
	background: blue;
	box-shadow: 10px 5px 5px 0px rgba(0, 0, 0, 1.0);
}
input[type="text"],input[type="password"],select
{
	border-radius: 5px;
	padding: 10px;
}
input[type="text"]:hover,input[type="password"]:hover,select:hover
{
	cursor: pointer;
	background: lightgrey;
	border-radius: 5px;
	padding: 10px;
}
input[type="button"]
{
	padding: 10px;
	background: lightgrey;
	cursor: pointer;
}
.data
{
	background: black;
	color: white;
}